.vscode-test/**
.vscode/**
.codex
.gitignore
.yarnrc
vsc-extension-quickstart.md
*.vsix
build-server.sh
package-lock.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
src/**
node_modules/**
server/**/debug/**
